
/*
INPUT CONTAINERS
*/

#input-module-container {
  box-sizing: border-box;
  height: 640px;
  width: 95%;
  background: rgb(146, 147, 202);
  border-radius: 10px;
}

/*
OUTPUT CONTAINERS
*/

#output-module-container {
  box-sizing: border-box;
  height: 640px;
  width: 95%;
  background: rgb(146, 147, 202);
  border-radius: 10px;
}